@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Open+Sans:400,600,700&display=swap');
.thin {
    font-weight: 100;
}
.light {
    font-weight: 300;
}
.medium {
    font-weight: 500;
}
.semibold {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}
.black {
    font-weight: 900;
}
.hide {
    display: none !important;
}
.uppercase {
    text-transform: uppercase;
}
.underline {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
a {
    color: inherit;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
}

.container {
    box-sizing: border-box;
	margin:0 auto;
	position:relative;
	max-width: 1000px;
    width:100%;
    @media screen and (max-width: 768px) {
        padding: 0 20px;
    }
}

.font2 {
    font-family: 'Open Sans', sans-serif;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }