//==========================================//
// sass --watch scss/style.scss:css/style.css --style compressed //
//==========================================//

/* 
Theme Name: Giving Theme
Author: Julian Delgado
Author URI: https://juliandelgado.dev/
Description: Tema Minimal Portfolio
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: giving_theme
*/


@import 'reset';
@import 'default';

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}
main {
    p {
        font-size: 1.4rem;
        line-height: 2.5rem;
        font-family: 'Open Sans', sans-serif;
    }
    h1 {
        font-size: 5rem;
        width: 100%;
    }
    blockquote {
        border-left: 2px solid #e1e1e1;
        padding: 20px;
        font-style: italic;
        font-weight: bold;
        margin: 15px 0;
        p {
            font-size: 1.4rem;
        }
    }
}


header {
    .container {
        align-items: center;
        background-color: #fff;
        display: flex;
        height: 80px;
        justify-content: space-between;
        h1 {
            font-size: 2rem;
        }
        button {
            background-color: transparent;
            width: 22px;
            display: none;
            span {
                display: block;
                width: 22px;
                margin: 4px 0;
                height: 2px;
                background-color: #7f7f7f;
            }
            @media screen and (max-width: 768px) {
                display: block;
                z-index: 11;
            }
        }
        nav{
            & > div {
                ul {
                    font-size: 1.2rem;
                    color: #555;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    li {
                        a {
                            display: block;
                            text-align: center;
                            font-size: 1.2rem;
                            margin: 0 15px;
                            text-transform: uppercase;
                            font-family: 'Open Sans', sans-serif;
                            &:hover {
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: 768px) {
                position: fixed;
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                z-index: 10;
                left: -100vw;
                transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);
                top: 0;
                & > div {
                    width: 100%;
                    height: 100%;
                    ul {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        li {
                            a {
                                text-align: center;
                                margin: 10px 0;
                            }
                        }
                    }
                }
                &.active {
                    left: 0;
                }
            }
        }
    }
}

.banner {
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    &_box {
        background-color: rgba($color: #FFF, $alpha: .8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 60px 83px;
        @media screen and (max-width: 768px) {
            width: 80%;
        }
        &::after {
            width: 100%;
            height: 100%;
            padding: 5px;
            content: '';
            border: 2px solid rgba($color: #FFF, $alpha: .8);
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
        }
        h2 {
            text-align: center;
            font-size: 4rem;
        }
        p {
            text-align: center;
            font-size: 1.5rem;
            font-family: 'Open Sans', sans-serif;
        }
    }
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 50px auto;
    font-size: 1.2rem;
    padding: 0 20px;
    @media screen and (max-width: 768px) {
        flex-flow: row wrap;
        width: 100%;
    }
    li {
        color: #555;
        position: relative;
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
        font-family: 'Open Sans', sans-serif;
        margin: 0 10px;
        @media screen and (max-width: 768px) {
            margin: 10px;
        }
        .dots {
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            top: 120%;
            display: flex;
            opacity: 0;
            align-items: center;
            &_item {
                margin: 0 2px;
                width: 2px;
                height: 2px;
                display: block;
                border-radius: 50%;
                background: #000;
            }
        }
        &.active, &:hover {
            opacity: 0.5;
            .dots {
                opacity: 1;
            }
        }
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;
    margin-bottom: 80px;
    min-height: 330px;
    padding: 0 20px;
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
    }
    &_item {
        border: 1px solid #e5e5e5;
        width: 100%;
        cursor: pointer;
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
        img {
            width: 100%;
            height: 240px;
            margin-bottom: 15px;
            object-fit: cover;
        }
        .desc {
            padding: 0 18px 21px;
            h3 {
                font-size: 1.8rem;
                margin-bottom: 5px;
            }
            small {
                font-family: 'Open Sans', sans-serif;
                font-size: 1.2rem;
                color: rgba($color: #000000, $alpha: .5);
            }
        }
        &:hover {
            transform: scale(1.02);
            opacity: 0.5;
        }
    }
}

.last_posts {
    background-color: #f6f6f6;
    padding: 70px 20px;
    .container {
        .intro {
            text-align: center;
            margin-bottom: 60px;
            h2 {
                font-size: 3rem;
                margin-bottom: 30px;
                display: inline-block;
                font-weight: normal;
                padding-bottom: 8px;
                position: relative;
                &::after {
                    content: '';
                    height: 1px;
                    background-color: #232323;
                    width: 60px;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            p {
                font-size: 1.4rem;
                line-height: 2.2rem;
                font-family: 'Open Sans', sans-serif;
                color: #999;
                width: 100%;
                max-width: 580px;
                margin: 0 auto;
            }
        }
        .posts {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 27px;
            grid-auto-rows: 500px;
            @media screen and (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width: 480px) {
                grid-template-columns: repeat(1, 1fr);
            }
            li {
                border: 1px solid #e5e5e5;
                width: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 50%;
                    object-fit: cover;
                }
                .desc {
                    background-color: #fff;
                    padding: 30px 25px 20px 25px;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h3 {
                        font-size: 1.8rem;
                        margin-bottom: 5px;
                    }
                    small {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.2rem;
                        color: #808080;
                        display: block;
                        margin-bottom: 20px;
                    }
                    p {
                        text-align: left;
                        font-family: 'Open Sans', sans-serif;
                        color: #999;
                        font-size: 1.2rem;
                        line-height: 2.2rem;
                    }
                    .actions {
                        margin: 25px 0 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;
                        padding: 10px 0 0;
                        &::before {
                            content: '';
                            width: 30px;
                            height: 1px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: #999999;
                        }
                        .left {
                            display: flex;
                            align-items: center;
                            a {
                                margin: 0 5px 0 0;
                                opacity: 0.5;
                                display: block;
                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                        a {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.2rem;
                            letter-spacing: .12rem;
                            text-transform: uppercase;
                            color: #999999;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

.single_banner {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    h2 {
        font-size: 3rem;
        margin-bottom: 10px;
    }
}

.breadcrumbs {
    display: flex;
    li {
        font-size: 1.2rem;
        color: #555;
        font-family: 'Open Sans', sans-serif;
        &::after {
            font-size: 1.2rem;
            color: #555;
            content: '/';
            margin: 0 5px;
        }
        &:last-child {
            opacity: 0.5;
            &::after {
                content: none;
            }
        }
    }
}

.single_post {
    padding: 75px 0;
    background-color: #f6f6f6;
    .container {
        display: grid;
        grid-template-columns: 230px auto;
        gap: 30px;
        @media screen and (max-width: 768px) {
            grid-template-columns: auto;
        }
        aside, section {
            width: 100%;
        }
        aside {
            @media screen and (max-width: 768px) {
                display: none;
            }
            & > div {
                background-color: #fff;
                padding: 15px;
                -webkit-box-shadow: 0px 0px 134px -60px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 134px -60px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 134px -60px rgba(0,0,0,0.5);
                margin-bottom: 15px;
                & > p, h2 {
                    display: inline-block;
                    text-transform: uppercase;
                    color: #555;
                    font-size: 1.8rem;
                    padding-bottom: 5px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #e5e5e5;
                }
            }
            .tags {
                .tags-list {
                    li {
                        padding: 8px 10px;
                        display: inline-block;
                        color: #555;
                        font-family: 'Open Sans', sans-serif;
                        margin: 0 5px 5px 0;
                        font-size: 1.2rem;
                        border: 1px solid #e5e5e5;
                    }
                }
            }
            .tagcloud {
                a {
                    padding: 8px 10px;
                    display: inline-block;
                    color: #555;
                    font-family: 'Open Sans', sans-serif;
                    margin: 0 5px 5px 0;
                    font-size: 1.2rem !important;
                    border: 1px solid #e5e5e5;  
                }
            }
            .search{
                form {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 30px;
                    input {
                        height: 100%;
                        width: 100%;
                        border: 1px solid #e5e5e5;
                        padding: 12px;
                        color: #555;
                        font-size: 1.4rem;
                        box-sizing: border-box;
                    }
                    button, input[type="submit"] {
                        display: block;
                        width: 30px;
                        height: 100%;
                        background: transparent;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #e5e5e5;
                        i {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            .categories, .widget_categories {
                ul {
                    li {
                        display: flex;
                        justify-content: space-between;
                        font-family: 'Open Sans', sans-serif;
                        align-items: center;
                        padding: 10px 0;
                        border-bottom: 1px solid #e5e5e5;
                        font-size: 1.2rem;
                        color: #555;
                        small {
                            font-size: 1.2rem;
                        }
                        &:last-of-type {
                            border-bottom: 0;
                        }
                    }
                }
            }
            .recentpost {
                .recentpost-list {
                    li {
                        a {
                            padding: 8px 0;
                            display: flex;
                            img {
                                width: 68px;
                                height: 68px;
                                object-fit: cover;
                                margin-right: 10px;
                            }
                            h3 {
                                font-weight: 300;
                                font-size: 1.8rem;
                                line-height: 1.8rem;
                                margin-bottom: 5px;
                            }
                            p {
                                font-size: 1.2rem;
                                color: #555;
                            }
                            &:hover {
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }
            .widget_search {
                background-color: #fff;
                padding: 15px;
                -webkit-box-shadow: 0px 0px 134px -60px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 134px -60px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 134px -60px rgba(0,0,0,0.5);
                margin-bottom: 15px;
                .screen-reader-text {
                    display: none;
                }
                & > p{
                    display: inline-block;
                    text-transform: uppercase;
                    color: #555;
                    font-size: 1.8rem;
                    padding-bottom: 5px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #e5e5e5;
                }
                form {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 30px;
                    div {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 30px;
                    }
                    input {
                        height: 100%;
                        width: 100%;
                        border: 1px solid #e5e5e5;
                        padding: 12px;
                        color: #555;
                        font-size: 1.4rem;
                        box-sizing: border-box;
                    }
                    button, input[type="submit"] {
                        display: block;
                        width: 30px;
                        height: 100%;
                        background: transparent;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #e5e5e5;
                        i {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
        section {
            font-size: 1.4rem;
            color: #555;
            line-height: 2.5rem;
            font-family: 'Open Sans', sans-serif;
            display: flex;
            flex-direction: column;
            img {
                width: 100%;
                object-fit: cover;
                height: 465px;
                @media screen and (max-width: 768px) {
                    height: calc( 100vw * 9/16 );
                }
            }
            p, li {
                margin-bottom: 15px;
            }
            ul {
                padding-left: 25px;
                list-style-type: disc;
            }
            .desc {
                background-color: #fff;
                padding: 30px;
                margin-bottom: 50px;
                border: 1px solid #a5a5a5;
                padding: 15px 30px;
                -webkit-box-shadow: 0px 0px 134px -60px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 134px -60px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 134px -60px rgba(0,0,0,0.5);
                pre {
                    padding: 15px;
                    margin: 15px 0;
                    background: #f5f5f5;
                    font-style: italic;
                    border: 1px solid #a5a5a5;
                    border-radius: 5px;
                }
                h2 {
                    font-size: 2.5rem;
                    margin-bottom: 15px;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-family: 'Oswald', sans-serif;
                }
                h3 {
                    font-size: 2rem;
                    margin-bottom: 15px;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-family: 'Oswald', sans-serif;
                }
                blockquote {
                    border-left: 2px solid #e1e1e1;
                    padding: 20px;
                    font-style: italic;
                    font-weight: bold;
                }
            }
        }
        .comments{
            h2 {
                display: inline-block;
                text-transform: uppercase;
                color: #333;
                font-size: 1.8rem;
                font-weight: bold;
                padding-bottom: 5px;
                margin-bottom: 20px;
                border-bottom: 1px solid #e5e5e5;
            }
            .comments-list {
                display: flex;
                flex-direction: column;
                @media screen and (max-width: 768px) {
                    padding: 0;
                }
                li {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 22px;
                    background-color: #fff;
                    border: 1px solid #e5e5e5;
                    position: relative;
                    #reply {
                        position: absolute;
                        background: transparent;
                        color: #99999f;
                        top: 15px;
                        right: 15px;
                    }
                    .photo {
                        margin-right: 15px;
                        border-radius: 3px;
                        overflow: hidden;
                        width: 100px;
                        height: 100px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .comment-content {
                        width: 80%;
                        h4 {
                            font-size: 1.5rem;
                            font-weight: bold;
                            span.says {
                                opacity: 0;
                            }
                        }
                        small {
                            font-size: 1.2rem;
                        }
                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
        .form-comment {
            margin: 15px 0;
            h2 {
                display: inline-block;
                text-transform: uppercase;
                color: #555;
                font-size: 1.8rem;
                padding-bottom: 5px;
                margin-bottom: 20px;
                border-bottom: 1px solid #e5e5e5;
            }
            form {
                background-color: #fff;
                padding: 25px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 25px;
                span {
                    display: block;
                    width: 100%;
                    grid-column: span 1;
                    margin-bottom: 15px;
                    label {
                        font-size: 1.2rem;
                        color: #555;
                        display: block;
                        font-weight: bold;
                        margin-bottom: 8px;
                    }
                    input {
                        height: 35px;
                        width: 100%;
                        border: 1px solid #a5a5a5;
                        padding: 0 8px
                    }
                    &.txt-area {
                        grid-column: span 2;
                        grid-row: 2;
                        textarea {
                            border: 1px solid #a5a5a5;
                            width: 100%;
                            padding: 8px
                        }
                    }
                }
                .form-submit {
                    grid-row: 3;
                    width: 100%;
                    max-width: 145px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 38px;
                    font-size: 1.2rem;
                    border: 1px solid #a5a5a5;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover {
                        opacity: .5;
                    }
                }
                button {
                    width: 100%;
                    max-width: 145px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 38px;
                    font-size: 1.2rem;
                    border: 1px solid #a5a5a5;
                    font-weight: 500;
                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0 30px;
    h1 {
        font-weight: 400;
        font-size: 2rem;
        color: #232332;
        border-bottom: 1px solid #232332;
        margin-bottom: 20px;
    }
    small {
        color: #555;
        font-size: 1.2rem;
        font-family: 'Open Sans', sans-serif;
        a {
            color: #54c2f0;
        }
    }
    .social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
        max-width: 150px;
        li {
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid #555;
            &:hover {
                opacity: .5;
            }
            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 50%;
                    height: 50%;
                    object-fit: contain;
                }
            }
        }
    }
}

.upPage {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 25px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

#respond {
    h3#reply-title {
        display: inline-block;
        text-transform: uppercase;
        color: #333;
        font-size: 1.8rem;
        font-weight: bold;
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
    }
}