@charset "UTF-8";
/* 
Theme Name: Giving Theme
Author: Julian Delgado
Author URI: https://juliandelgado.dev/
Description: Tema Minimal Portfolio
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: giving_theme
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Open+Sans:400,600,700&display=swap");
input, textarea {
  background-color: transparent;
  border: 0;
}

input[type=button],
input[type=checkbox],
input[type=color],
input[type=date],
input[type=datetime],
input[type=email],
input[type=file],
input[type=hidden],
input[type=image],
input[type=month],
input[type=number],
input[type=password],
input[type=radio],
input[type=range],
input[type=reset],
input[type=search],
input[type=submit],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  -moz-appearance: none;
  appearance: none;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

a {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
  font-style: inherit;
  font-weight: inherit;
}

a:focus,
input[type=text] {
  outline: 0px;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

abbr,
acronym {
  border: 0 none;
  font-variant: normal;
}

b,
strong {
  font-weight: 700;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

caption,
th {
  text-align: left;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

del,
ins {
  text-decoration: none;
}

em {
  font-style: italic;
}

fieldset,
img,
button {
  border: 0 none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

hr {
  border: 0 none;
  border-top: 1px solid #000000;
  height: 1px;
  margin: 0;
  text-align: left;
  width: 100%;
}

html {
  background: #FFFFFF none repeat scroll 0 0;
  color: #000000;
  font-size: 62.5%;
  font-family: sans-serif;
  /* 1 1. Set default font family to sans-serif.*/
  -ms-text-size-adjust: 100%;
  /* 2 Prevent iOS text size adjust after orientation change, without disabling user zoom.*/
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input[type=button],
input[type=submit] {
  cursor: hand;
  cursor: pointer;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

legend {
  border: 0;
}

mark {
  background: #ff0;
  color: #000;
}

ol {
  list-style: decimal;
}

ol li {
  list-style: decimal outside;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 65%;
  vertical-align: text-top;
  top: -0.5em;
}

sub {
  vertical-align: text-bottom;
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

textarea {
  overflow: auto;
  /* 1 */
  resize: none;
  vertical-align: top;
  /* 2 */
}

textarea {
  box-shadow: 0;
}

.thin {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.hide {
  display: none !important;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

a {
  color: inherit;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  max-width: 1000px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.font2 {
  font-family: "Open Sans", sans-serif;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

main p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-family: "Open Sans", sans-serif;
}
main h1 {
  font-size: 5rem;
  width: 100%;
}
main blockquote {
  border-left: 2px solid #e1e1e1;
  padding: 20px;
  font-style: italic;
  font-weight: bold;
  margin: 15px 0;
}
main blockquote p {
  font-size: 1.4rem;
}

header .container {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 80px;
  justify-content: space-between;
}
header .container h1 {
  font-size: 2rem;
}
header .container button {
  background-color: transparent;
  width: 22px;
  display: none;
}
header .container button span {
  display: block;
  width: 22px;
  margin: 4px 0;
  height: 2px;
  background-color: #7f7f7f;
}
@media screen and (max-width: 768px) {
  header .container button {
    display: block;
    z-index: 11;
  }
}
header .container nav > div ul {
  font-size: 1.2rem;
  color: #555;
  font-weight: 600;
  display: flex;
  align-items: center;
}
header .container nav > div ul li a {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  margin: 0 15px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
header .container nav > div ul li a:hover {
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  header .container nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 10;
    left: -100vw;
    transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);
    top: 0;
  }
  header .container nav > div {
    width: 100%;
    height: 100%;
  }
  header .container nav > div ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  header .container nav > div ul li a {
    text-align: center;
    margin: 10px 0;
  }
  header .container nav.active {
    left: 0;
  }
}

.banner {
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_box {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 60px 83px;
}
@media screen and (max-width: 768px) {
  .banner_box {
    width: 80%;
  }
}
.banner_box::after {
  width: 100%;
  height: 100%;
  padding: 5px;
  content: "";
  border: 2px solid rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.banner_box h2 {
  text-align: center;
  font-size: 4rem;
}
.banner_box p {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 50px auto;
  font-size: 1.2rem;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .filters {
    flex-flow: row wrap;
    width: 100%;
  }
}
.filters li {
  color: #555;
  position: relative;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  font-family: "Open Sans", sans-serif;
  margin: 0 10px;
}
@media screen and (max-width: 768px) {
  .filters li {
    margin: 10px;
  }
}
.filters li .dots {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 120%;
  display: flex;
  opacity: 0;
  align-items: center;
}
.filters li .dots_item {
  margin: 0 2px;
  width: 2px;
  height: 2px;
  display: block;
  border-radius: 50%;
  background: #000;
}
.filters li.active, .filters li:hover {
  opacity: 0.5;
}
.filters li.active .dots, .filters li:hover .dots {
  opacity: 1;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  margin-bottom: 80px;
  min-height: 330px;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
.products_item {
  border: 1px solid #e5e5e5;
  width: 100%;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
.products_item img {
  width: 100%;
  height: 240px;
  margin-bottom: 15px;
  object-fit: cover;
}
.products_item .desc {
  padding: 0 18px 21px;
}
.products_item .desc h3 {
  font-size: 1.8rem;
  margin-bottom: 5px;
}
.products_item .desc small {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
}
.products_item:hover {
  transform: scale(1.02);
  opacity: 0.5;
}

.last_posts {
  background-color: #f6f6f6;
  padding: 70px 20px;
}
.last_posts .container .intro {
  text-align: center;
  margin-bottom: 60px;
}
.last_posts .container .intro h2 {
  font-size: 3rem;
  margin-bottom: 30px;
  display: inline-block;
  font-weight: normal;
  padding-bottom: 8px;
  position: relative;
}
.last_posts .container .intro h2::after {
  content: "";
  height: 1px;
  background-color: #232323;
  width: 60px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.last_posts .container .intro p {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-family: "Open Sans", sans-serif;
  color: #999;
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
}
.last_posts .container .posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
  grid-auto-rows: 500px;
}
@media screen and (max-width: 768px) {
  .last_posts .container .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .last_posts .container .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}
.last_posts .container .posts li {
  border: 1px solid #e5e5e5;
  width: 100%;
  overflow: hidden;
}
.last_posts .container .posts li img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.last_posts .container .posts li .desc {
  background-color: #fff;
  padding: 30px 25px 20px 25px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.last_posts .container .posts li .desc h3 {
  font-size: 1.8rem;
  margin-bottom: 5px;
}
.last_posts .container .posts li .desc small {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #808080;
  display: block;
  margin-bottom: 20px;
}
.last_posts .container .posts li .desc p {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #999;
  font-size: 1.2rem;
  line-height: 2.2rem;
}
.last_posts .container .posts li .desc .actions {
  margin: 25px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px 0 0;
}
.last_posts .container .posts li .desc .actions::before {
  content: "";
  width: 30px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #999999;
}
.last_posts .container .posts li .desc .actions .left {
  display: flex;
  align-items: center;
}
.last_posts .container .posts li .desc .actions .left a {
  margin: 0 5px 0 0;
  opacity: 0.5;
  display: block;
}
.last_posts .container .posts li .desc .actions .left a:hover {
  opacity: 1;
}
.last_posts .container .posts li .desc .actions a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  color: #999999;
}
.last_posts .container .posts li .desc .actions a:hover {
  text-decoration: underline;
}

.single_banner {
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
}
.single_banner h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
}
.breadcrumbs li {
  font-size: 1.2rem;
  color: #555;
  font-family: "Open Sans", sans-serif;
}
.breadcrumbs li::after {
  font-size: 1.2rem;
  color: #555;
  content: "/";
  margin: 0 5px;
}
.breadcrumbs li:last-child {
  opacity: 0.5;
}
.breadcrumbs li:last-child::after {
  content: none;
}

.single_post {
  padding: 75px 0;
  background-color: #f6f6f6;
}
.single_post .container {
  display: grid;
  grid-template-columns: 230px auto;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .single_post .container {
    grid-template-columns: auto;
  }
}
.single_post .container aside, .single_post .container section {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .single_post .container aside {
    display: none;
  }
}
.single_post .container aside > div {
  background-color: #fff;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 134px -60px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 134px -60px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 134px -60px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}
.single_post .container aside > div > p, .single_post .container aside > div h2 {
  display: inline-block;
  text-transform: uppercase;
  color: #555;
  font-size: 1.8rem;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.single_post .container aside .tags .tags-list li {
  padding: 8px 10px;
  display: inline-block;
  color: #555;
  font-family: "Open Sans", sans-serif;
  margin: 0 5px 5px 0;
  font-size: 1.2rem;
  border: 1px solid #e5e5e5;
}
.single_post .container aside .tagcloud a {
  padding: 8px 10px;
  display: inline-block;
  color: #555;
  font-family: "Open Sans", sans-serif;
  margin: 0 5px 5px 0;
  font-size: 1.2rem !important;
  border: 1px solid #e5e5e5;
}
.single_post .container aside .search form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}
.single_post .container aside .search form input {
  height: 100%;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 12px;
  color: #555;
  font-size: 1.4rem;
  box-sizing: border-box;
}
.single_post .container aside .search form button, .single_post .container aside .search form input[type=submit] {
  display: block;
  width: 30px;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e5e5;
}
.single_post .container aside .search form button i, .single_post .container aside .search form input[type=submit] i {
  font-size: 1.5rem;
}
.single_post .container aside .categories ul li, .single_post .container aside .widget_categories ul li {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.2rem;
  color: #555;
}
.single_post .container aside .categories ul li small, .single_post .container aside .widget_categories ul li small {
  font-size: 1.2rem;
}
.single_post .container aside .categories ul li:last-of-type, .single_post .container aside .widget_categories ul li:last-of-type {
  border-bottom: 0;
}
.single_post .container aside .recentpost .recentpost-list li a {
  padding: 8px 0;
  display: flex;
}
.single_post .container aside .recentpost .recentpost-list li a img {
  width: 68px;
  height: 68px;
  object-fit: cover;
  margin-right: 10px;
}
.single_post .container aside .recentpost .recentpost-list li a h3 {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-bottom: 5px;
}
.single_post .container aside .recentpost .recentpost-list li a p {
  font-size: 1.2rem;
  color: #555;
}
.single_post .container aside .recentpost .recentpost-list li a:hover {
  opacity: 0.5;
}
.single_post .container aside .widget_search {
  background-color: #fff;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 134px -60px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 134px -60px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 134px -60px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}
.single_post .container aside .widget_search .screen-reader-text {
  display: none;
}
.single_post .container aside .widget_search > p {
  display: inline-block;
  text-transform: uppercase;
  color: #555;
  font-size: 1.8rem;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.single_post .container aside .widget_search form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}
.single_post .container aside .widget_search form div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}
.single_post .container aside .widget_search form input {
  height: 100%;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 12px;
  color: #555;
  font-size: 1.4rem;
  box-sizing: border-box;
}
.single_post .container aside .widget_search form button, .single_post .container aside .widget_search form input[type=submit] {
  display: block;
  width: 30px;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e5e5;
}
.single_post .container aside .widget_search form button i, .single_post .container aside .widget_search form input[type=submit] i {
  font-size: 1.5rem;
}
.single_post .container section {
  font-size: 1.4rem;
  color: #555;
  line-height: 2.5rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
.single_post .container section img {
  width: 100%;
  object-fit: cover;
  height: 465px;
}
@media screen and (max-width: 768px) {
  .single_post .container section img {
    height: calc( 100vw * 9/16 );
  }
}
.single_post .container section p, .single_post .container section li {
  margin-bottom: 15px;
}
.single_post .container section ul {
  padding-left: 25px;
  list-style-type: disc;
}
.single_post .container section .desc {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 50px;
  border: 1px solid #a5a5a5;
  padding: 15px 30px;
  -webkit-box-shadow: 0px 0px 134px -60px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 134px -60px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 134px -60px rgba(0, 0, 0, 0.5);
}
.single_post .container section .desc pre {
  padding: 15px;
  margin: 15px 0;
  background: #f5f5f5;
  font-style: italic;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
}
.single_post .container section .desc h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}
.single_post .container section .desc h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}
.single_post .container section .desc blockquote {
  border-left: 2px solid #e1e1e1;
  padding: 20px;
  font-style: italic;
  font-weight: bold;
}
.single_post .container .comments h2 {
  display: inline-block;
  text-transform: uppercase;
  color: #333;
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.single_post .container .comments .comments-list {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .single_post .container .comments .comments-list {
    padding: 0;
  }
}
.single_post .container .comments .comments-list li {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 22px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  position: relative;
}
.single_post .container .comments .comments-list li #reply {
  position: absolute;
  background: transparent;
  color: #99999f;
  top: 15px;
  right: 15px;
}
.single_post .container .comments .comments-list li .photo {
  margin-right: 15px;
  border-radius: 3px;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.single_post .container .comments .comments-list li .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single_post .container .comments .comments-list li .comment-content {
  width: 80%;
}
.single_post .container .comments .comments-list li .comment-content h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
.single_post .container .comments .comments-list li .comment-content h4 span.says {
  opacity: 0;
}
.single_post .container .comments .comments-list li .comment-content small {
  font-size: 1.2rem;
}
.single_post .container .comments .comments-list li .comment-content p {
  font-size: 1.4rem;
}
.single_post .container .form-comment {
  margin: 15px 0;
}
.single_post .container .form-comment h2 {
  display: inline-block;
  text-transform: uppercase;
  color: #555;
  font-size: 1.8rem;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.single_post .container .form-comment form {
  background-color: #fff;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.single_post .container .form-comment form span {
  display: block;
  width: 100%;
  grid-column: span 1;
  margin-bottom: 15px;
}
.single_post .container .form-comment form span label {
  font-size: 1.2rem;
  color: #555;
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}
.single_post .container .form-comment form span input {
  height: 35px;
  width: 100%;
  border: 1px solid #a5a5a5;
  padding: 0 8px;
}
.single_post .container .form-comment form span.txt-area {
  grid-column: span 2;
  grid-row: 2;
}
.single_post .container .form-comment form span.txt-area textarea {
  border: 1px solid #a5a5a5;
  width: 100%;
  padding: 8px;
}
.single_post .container .form-comment form .form-submit {
  grid-row: 3;
  width: 100%;
  max-width: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  font-size: 1.2rem;
  border: 1px solid #a5a5a5;
  font-weight: 500;
  cursor: pointer;
}
.single_post .container .form-comment form .form-submit:hover {
  opacity: 0.5;
}
.single_post .container .form-comment form button {
  width: 100%;
  max-width: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  font-size: 1.2rem;
  border: 1px solid #a5a5a5;
  font-weight: 500;
}
.single_post .container .form-comment form button:hover {
  opacity: 0.5;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 30px;
}
footer h1 {
  font-weight: 400;
  font-size: 2rem;
  color: #232332;
  border-bottom: 1px solid #232332;
  margin-bottom: 20px;
}
footer small {
  color: #555;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}
footer small a {
  color: #54c2f0;
}
footer .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  max-width: 150px;
}
footer .social li {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid #555;
}
footer .social li:hover {
  opacity: 0.5;
}
footer .social li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social li a img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.upPage {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 25px;
}
.upPage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#respond h3#reply-title {
  display: inline-block;
  text-transform: uppercase;
  color: #333;
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

/*# sourceMappingURL=style.css.map */
